<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
#super{display:flex;}
*{font-size:20px;font-family:cursive;}
body{background-color:lightblue}
input{border-radius:5px}
</style>
</head>
<body>
<h1>Welcome to Admin</h1>
<div id="super">

<div>
<form action="home">
<input type="submit" value="addFoodItem">
</form>
</div>

<div>
<form action="reg">
<input type="submit" value="addUser">
</form>
</div>

<div>
<form action="menu">
<input type="submit" value="ViewFoods">
</form>
</div>

<div>
<form action="del">
<input type="submit" value="deleteFood">
</form>
</div>

<div>
<form action="deluser">
<input type="submit" value="deleteUser">
</form>
</div>

<div>
<form action="viewuser">
<input type="submit" value="ViewAllUsers">
</form>
</div>

<div>
<form action="up">
<input type="submit" value="Updatefood">
</form>
</div>


</div>
</body>
</html>