<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
*{font-size:20px;font-family:cursive;}
body{background-color:lightblue}
div{height:300px;width:500px;margin-left:500px;margin-top:100px;background-color:white;border-radius:25px}
input{border-radius:5px;margin:5px}
form label {margin:20px}

</style>

</head>
<body>
<div>
<h1>Adding Food Items  </h1>
<form action="#" th:action="@{/insert}" th:object="${bk}" enctype="multipart/form-data"> 

<label>Item Id</label>
<input type="number"  th:field="*{oid}"/><br/>

<label>Item Name</label>
<input type="text"  th:field="*{items}"/><br/>

<label>price</label>
<input type="number"  th:field="*{price}"/><br/>

<label>image</label>
<input type="file"  th:field="*{imagename}"/><br/>

<input type="submit" value="submit">
<input type="reset" value="cancel">
</form>
</div>
</body>
</html>