<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
*{font-size:20px;font-family:cursive;}
body{background-color:lightblue}
div{height:300px;width:500px;margin-left:500px;margin-top:100px;background-color:white;border-radius:25px}
input{border-radius:5px;margin:5px}
form label {margin:20px}
</style>
</head>
<body>
<div>
<h1>Displaying All Users</h1>
<table border=5px>
<tr>
<th>Username</th>
<th>password</th>
<th>Type</th>
</tr>
<tr th:each="reg : ${list}">
<td th:text="${reg.username}"></td>
<td th:text="${reg.password}"></td>
<td th:text="${reg.utype}"></td>
</tr>
</table>
</div>
</body>
</html>