<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body{background-color: lightblue}
*{font-family: cursive;font-size:22px}
#super{display: flex}
</style>
</head>
<body>
<h1>Hello Admin</h1>
<div id="super">
<div>
<form action="viewall">
<input type="submit" value="viewallEmp">
</form>
</div>
<div>
<form action="viewUsers">
<input type="submit" value="viewallusers">
</form>
</div>

<div>
<form action="delete">
<input type="submit" value="deleteusers">
</form>
</div>
</div>
</body>
</html>